.btn1{
    padding: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 1rem;
    color: black;
    background-color: #f6b13a;
    text-decoration: none;
    border-radius: 30px;
    font-size: large;
}
.btn1:hover{
    background-color: #f5cb81;
}

.btn2{
    padding: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 1rem;
    color: black;
    background-color: #f6b13a;
    text-decoration: none;
    border-radius: 30px;
    font-size: medium;
}
.btn2:hover{
    background-color: #f5cb81;
}
.btnform{
    font-family: "DM Sans", sans-serif;;
    margin-top: 1rem;
    padding: 1.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: black;
    background-color: #f6b13a;
    text-decoration: none;
    border-radius: 30px;
    font-size: medium;
    border: none;
    cursor: pointer;
}
.btnform:hover{
    background-color: #f5cb81;
}